---
import { getI18N } from "@/a18n/index.ts";
import { getAllDirectors } from "@/services/directors";
import { getRelativeLocaleUrl } from "astro:i18n";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "es" });
const directors = await getAllDirectors();
---

<section id="directors-section">
  <div class="container mx-auto px-4 py-16">
    <div class="grid grid-cols-1 md:grid-cols-[auto_1fr] gap-28">
      <div class="w-full max-w-[368px]">
        <p class="text-[42px] leading-none">
          {t.ABOUT.DIRECTORS}
        </p>
      </div>
      <div class="relative">
        <ul class="text-[#CCCCCC]">
          {
            directors.map((director: { name: string; thumbnail: string }) => (
              <li>
                <a
                  href={getRelativeLocaleUrl(
                    currentLocale ?? "es",
                    `/videos/director/${director.name}`
                  )}
                  class="py-6 text-[38px] font-black italic uppercase director-name-hidden relative block"
                >
                  <span class="border-t opacity-30 border-black absolute w-full top-0 left-0" />
                  {director.name}
                </a>
              </li>
            ))
          }
        </ul>
        <ul class="absolute top-0 left-0 w-full h-full">
          {
            directors.map((director: { name: string; thumbnail: string }) => (
              <li class="relative group">
                <img
                  src={director.thumbnail}
                  alt={director.name}
                  class="absolute top-1/2 -translate-y-1/2 right-full opacity-0 group-hover:opacity-100 w-[400px] mr-10 transition-all duration-300 pointer-events-none object-cover"
                />
                <a
                  href={getRelativeLocaleUrl(
                    currentLocale ?? "es",
                    `/videos/director/${director.name}`
                  )}
                  class="py-6 text-[38px] font-black italic uppercase director-name relative block"
                >
                  <span class="border-t border-black absolute w-full top-0 left-0 director-name-line" />
                  {director.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
