---
import { getI18N } from "@/a18n/index.ts";
import Logo from "@/components/organisms/Logo.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "es" });
---

<footer class="pb-5 mt-auto bg-black z-10 relative text-white">
  <div class="container mx-auto w-full px-4">
    <div class="flex justify-end w-full mb-8">
      <svg
        width="682"
        height="35"
        viewBox="0 0 682 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="translate-x-4 md:translate-x-6"
      >
        <path
          d="M47.3105 -52.0049H85.5061L38.9261 34.634H0.730469L47.3105 -52.0049Z"
          fill="white"></path>
        <path
          d="M121.839 -52.0049H160.034L113.454 34.634H75.2585L121.839 -52.0049Z"
          fill="white"></path>
        <path
          d="M196.367 -52.0049H234.562L187.982 34.634H149.787L196.367 -52.0049Z"
          fill="white"></path>
        <path
          d="M270.895 -52.0049H309.09L262.51 34.634H224.315L270.895 -52.0049Z"
          fill="white"></path>
        <path
          d="M345.423 -52.0049H383.618L337.038 34.634H298.843L345.423 -52.0049Z"
          fill="white"></path>
        <path
          d="M419.951 -52.0049H458.146L411.566 34.634H373.371L419.951 -52.0049Z"
          fill="white"></path>
        <path
          d="M494.479 -52.0049H532.674L486.094 34.634H447.899L494.479 -52.0049Z"
          fill="white"></path>
        <path
          d="M569.007 -52.0049H607.202L560.622 34.634H522.427L569.007 -52.0049Z"
          fill="white"></path>
        <path
          d="M643.535 -52.0049H681.73L635.15 34.634H596.955L643.535 -52.0049Z"
          fill="white"></path>
      </svg>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="col-span-1">
        <p class="text-3xl md:max-w-[15ch] mb-2.5" id="newsletter-title">
          {t.FOOTER.NEWSLETTER_TITLE}
        </p>
        <form
          class="relative flex flex-col gap-2.5 md:max-w-[460px] w-full mb-24"
          id="newsletter-form"
        >
          <input
            type="email"
            name="newsletter-email"
            id="newsletter-email"
            placeholder={t.FOOTER.NEWSLETTER_PLACEHOLDER}
            class="py-2 border-b border-gray-300 focus:outline-none"
            required
          />
          <button
            class="bg-primary text-white p-2 rounded hover:bg-primary-dark cursor-pointer absolute right-0 top-0 h-full hover:-right-2 transition-all"
            id="newsletter-submit"
          >
            <span class="sr-only">
              {t.FOOTER.NEWSLETTER_SUBMIT}
            </span>
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.3461 0.839999L17.9061 9.04L12.3461 17.32H8.86609L14.1061 9.04L8.86609 0.839999H12.3461ZM14.9061 7.6V10.52H0.426094V7.6H14.9061Z"
                fill="white"></path>
            </svg>
          </button>
        </form>
        <div id="newsletter-error" class="hidden text-red-500 mb-2 text-sm">
          <p>{t.FOOTER.NEWSLETTER_ERROR}</p>
        </div>
        <div id="newsletter-success" class="hidden mb-6">
          <h3 class="text-lg font-bold mb-2">
            {t.FOOTER.NEWSLETTER_SUCCESS_TITLE}
          </h3>
          <p class="mb-1">{t.FOOTER.NEWSLETTER_SUCCESS_TEXT}</p>
          <p>{t.FOOTER.NEWSLETTER_SUCCESS_TEXT2}</p>
        </div>
      </div>

      <div class="col-span-1">
        <p
          class="text-center md:text-right text-[38px] uppercase font-black md:max-w-[12ch] italic md:ml-auto mb-24 leading-none"
        >
          {t.FOOTER.TAGLINE}
        </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-[auto_1fr] gap-6">
      <span class="col-span-1 text-center md:text-left">
        <span class="opacity-40">
          © <Logo size="60" />
          {new Date().getFullYear()} /
        </span>
        <a
          href={getRelativeLocaleUrl(currentLocale ?? "es", "/legal")}
          class="underline opacity-40 hover:opacity-100"
          data-page-color="white">{t.FOOTER.LEGAL}</a
        >
      </span>
      <div class="col-span-1">
        <ul class="flex flex-wrap gap-6 justify-center md:justify-end">
          <li>
            <a
              href="https://www.instagram.com/obliqproductions/"
              target="_blank"
              class="uppercase hover:opacity-40">{t.FOOTER.SOCIAL.INSTAGRAM}</a
            >
          </li>
          <li>
            <a
              href="https://www.tiktok.com/@obliqproductions"
              target="_blank"
              class="uppercase hover:opacity-40">{t.FOOTER.SOCIAL.TIKTOK}</a
            >
          </li>
          <li>
            <a
              href="https://vimeo.com/obliproductions"
              target="_blank"
              class="uppercase hover:opacity-40">{t.FOOTER.SOCIAL.VIMEO}</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/obliq-productions"
              target="_blank"
              class="uppercase hover:opacity-40">{t.FOOTER.SOCIAL.LINKEDIN}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script>
  import { getI18N } from "@/a18n/index.ts";

  const currentLocale = navigator.language || navigator.languages[0];
  const t = getI18N({ currentLocale: currentLocale ?? "es" });

  const emailNewsletter = document.querySelector(
    'input[name="newsletter-email"]'
  ) as HTMLInputElement;
  const newsletterForm = document.getElementById(
    "newsletter-form"
  ) as HTMLFormElement;

  newsletterForm.addEventListener("submit", async (event) => {
    event.preventDefault();

    if (!emailNewsletter.value) {
      alert("Por favor, ingresa tu email.");
      return;
    }

    try {
      const response = await fetch("/api/newsletter", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ emailNewsletter: emailNewsletter.value }),
      });

      if (!response.ok) {
        document.getElementById("newsletter-error")?.classList.remove("hidden");
        return;
      }
      document.getElementById("newsletter-success")?.classList.remove("hidden");
      document.getElementById("newsletter-title")?.classList.add("hidden");
      document.getElementById("newsletter-error")?.classList.add("hidden");
      newsletterForm?.classList.add("hidden");
      emailNewsletter.value = "";
    } catch (error) {
      console.error("Error al enviar el formulario:", error);
      document.getElementById("newsletter-error")?.classList.remove("hidden");
    }
  });
</script>
