---
import VideoLayout from "@/layouts/Video.astro";
import Plus from "@/assets/icons/plus.svg";
import { getVideoBySlug } from "@/services/videos";
import { getI18N } from "@/a18n/index.ts";

const params = Astro.params;
const slug = params.slug;
const video = await getVideoBySlug(slug as string);
const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "en" });
---

<VideoLayout title={video.title}>
  <section class="h-screen relative overflow-hidden">
    <span
      onclick="history.back()"
      class="fixed top-8 right-8 z-50 rotate-45 cursor-pointer animate-enlarge"
    >
      <Plus />
    </span>

    <div class="w-full h-full mb-6">
      <div
        class="relative w-full h-full"
        data-video-type="vimeo"
        data-video-id={video.videoId}
      >
        <img
          src={video.image}
          alt="Video preview"
          class="w-full h-full object-cover"
          transition:name={`video-thumbnail-${video.slug}`}
        />
        <button
          id="playButton"
          class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 block text-4xl cursor-pointer"
          aria-label="Play video"
        >
          ▶
        </button>
      </div>
    </div>
  </section>

  <section id="videoInfo" class="bg-black relative z-20">
    <a
      href="#videoInfo"
      class="cursor-pointer absolute bottom-full left-0 px-6 py-4 rotate-180"
      id="showMoreBtn"
    >
      <svg
        width="18"
        height="19"
        viewBox="0 0 18 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.839999 6.38437L9.04 0.824375L17.32 6.38437L17.32 9.86437L9.04 4.62437L0.839999 9.86437L0.839999 6.38437ZM7.6 3.82437L10.52 3.82437L10.52 18.3044L7.6 18.3044L7.6 3.82437Z"
          fill="white"></path>
      </svg>
    </a>

    <div class="container mx-auto py-14">
      <div class="grid grid-cols-1 md:grid-cols-[1fr_auto] gap-4">
        <div>
          <h2 class="text-[38px] font-extrabold italic uppercase leading-none">
            {video.title}
          </h2>
          <p class="ml-1 text-lg">{video.client}</p>
        </div>
        <div>
          <span class="text-lg">{t.VIDEOS.DATE}:</span>
          <p class="text-2xl font-extrabold italic uppercase leading-none">
            {video.date}
          </p>
        </div>
      </div>
    </div>
  </section>
</VideoLayout>

<script>
  function initVideoPlayer() {
    const videoContainer = document.querySelector(
      "[data-video-id]"
    ) as HTMLElement;
    if (!videoContainer) return;

    const playButton = videoContainer.querySelector(
      "#playButton"
    ) as HTMLButtonElement;
    playButton?.addEventListener("click", () => {
      const type = videoContainer.dataset.videoType;
      const id = videoContainer.dataset.videoId;

      let iframeSrc = "";
      if (type === "youtube") {
        iframeSrc = `https://www.youtube.com/embed/${id}?autoplay=1`;
      } else if (type === "vimeo") {
        iframeSrc = `https://player.vimeo.com/video/${id}?autoplay=1`;
      }

      const iframe = document.createElement("iframe");
      iframe.src = iframeSrc;
      iframe.allow =
        "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";
      iframe.allowFullscreen = true;
      iframe.className = "w-full h-full object-cover";

      videoContainer.innerHTML = "";
      videoContainer.appendChild(iframe);
    });
  }

  initVideoPlayer();

  document.addEventListener("astro:after-swap", () => {
    initVideoPlayer();
  });
</script>
