---
interface Props {
  name: string;
  label: string;
  required?: boolean;
  error?: string;
  classList?: string;
}

const { name, required = false, label, error, classList } = Astro.props;

const styles = {
  input: "w-full bg-black/10 py-3 mb-2 border-b border-white outline-none",
  errorMessage: "text-red-600 text-sm mt-1 hidden",
};
---

<div>
  <label class="sr-only" for={name}>
    {label}: {required && <span>*</span>}
  </label>
  <input
    type="text"
    id={name}
    name={name}
    required={required}
    aria-required={required}
    aria-describedby="name-desc"
    placeholder={label}
    class:list={[styles.input, classList]}
    aria-invalid={error ? "true" : "false"}
    aria-errormessage={error ? "name-desc" : undefined}
  />
  <p id="name-desc" class:list={[styles.errorMessage]} aria-live="polite">
    {error}
  </p>
</div>
