---
import type { Video } from "@/types/videos";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getI18N } from "@/a18n/index.ts";

interface Props {
  video: Video;
}

const { video } = Astro.props;

const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "es" });
---

<div
  class="aspect-[560/315] relative group custom-cursor-target video-item"
  id={`id-${video.slug}`}
>
  <a
    href={getRelativeLocaleUrl(currentLocale ?? "es", `/videos/${video.slug}`)}
    class="block w-full h-full relative overflow-hidden cursor-none link-video"
  >
    <div
      class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent z-10 group-hover:opacity-100 opacity-0 transition-opacity duration-300"
    >
    </div>
    <img
      src={video.thumbnail}
      alt={video.title}
      class="w-full h-full object-cover object-center group-hover:scale-110 transition-transform duration-300"
      transition:name={`video-thumbnail-${video.slug}`}
    />
    <div
      class="absolute bottom-0 left-0 p-6 w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-20"
    >
      <h3 class="text-2xl font-extrabold italic uppercase">{video.client}</h3>
      <p class="text-lg">‘{video.title}’ {video.date.split(",")[1] ?? ""}</p>
    </div>
  </a>
</div>
