---
import Header from "@/components/Header.astro";
import "@/styles/global.css";
import "@fontsource-variable/montserrat";
import { getI18N } from "@/a18n/index.ts";
import Footer from "@/components/Footer.astro";
import { ClientRouter } from "astro:transitions";
import TransitionMask from "@/components/organisms/TransitionMask.astro";

interface Props {
  title: string;
  pageColor?: string;
}

const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "es" });
const { title, pageColor } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{t.GLOBAL.TITLE} | {title}</title>
    <ClientRouter />
  </head>
  <body
    class:list={[
      "flex",
      "flex-col",
      "min-h-screen",
      "pt-16",
      "md:pt-20",
      "font-medium",
      pageColor === "white" ? "bg-white text-black" : "bg-black text-white",
    ]}
  >
    <TransitionMask enterColor={pageColor} />
    <Header pageColor={pageColor} />
    <slot />
    <Footer />
  </body>
</html>
